# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Logs
*.log

# MacOS system files
.DS_Store

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# Mypy, pylint, etc.
.mypy_cache/
.dmypy.json
.pyre/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
